//breakpoints
$breakpoints: (
  'sm':  480px,
  'md': 992px,
  'lg':  1200px
) !default;


@mixin media($breakpoint) {

  @if map-has-key($breakpoints, $breakpoint) {

    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
// typography
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=latin-ext);

$font-family: 'PT Sans', sans-serif;
$font-size: 15px;

// main colors

$base-black: #282425;
$base-white: #fff;
$base-grey-light: #566562;
$base-grey-dark: #3A4643;
$main-color: #329F87;
$main-color-light: #85FFC7;

// button primary
$btn-primary-background: $main-color;
$btn-primary-color: $base-white;


html {
  box-sizing: border-box;
  @include media(sm) {
    font-size: 8px;
  }
  @include media(md) {
    font-size: 9px;    
  }
  @include media(lg) {
    font-size: 10px;    
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-family: $font-family; 
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.main-container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 40rem;
  @include media(md) { 
    max-width: 120rem;

  }
}
//typugraphy

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: $base-grey-dark;
  color: $base-white;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  padding: 2rem 0;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 0;
}
h3 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1.5rem 0;
}
h4 {
  font-size: 2rem;
  padding: 1.5rem 0;
}